{% for i in challenge %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
  namespace: {{ i['namespace'] | lower }}
spec:
  replicas: {{ i['number'] | lower }}
  selector:
    matchLabels:
      app: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
  template:
    metadata:
      namespace: {{ i['namespace'] | lower }}
      labels:
        app: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
    spec:
      containers:
      - name: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
        image: {{ i['image'] | lower }}
        ports:
        - containerPort: {{ i['port_container'] | lower }}
{% if i['dir_container'] |length and i['data'] |length and  i['fic_name_config'] |length %}
        volumeMounts:
        - name: cfgmap
          mountPath: {{ i['dir_container'] }}
          subPath: {{ i['fic_name_config'] }}
{% endif %}
{% if i['env_var'] == "True" %}
        env: 
{% endif %}
{% for e in env_variables %}
{% if i['name'] == e['name'] %}
        - name: {{ e['var_name'] }}
          value: {{ e['var_value'] }}
{% endif %}
{% endfor %}
{% if i['dir_container'] |length and i['data'] |length and  i['fic_name_config'] |length %}
      volumes:
      - name: cfgmap
        configMap:
          name: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ i['name'] | lower }}-{{ i['equipe'] | lower }}
  namespace: {{ i['namespace'] | lower }}
spec:
  ports:
  - port: {{ i['port'] | lower }}
    targetPort: {{ i['port_container'] | lower }}
    name: {{ i['protocole'] | lower }}
  selector:
    app: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
  sessionAffinity: ClientIP
{% endfor %}
