{% for i in challenge %}
{% if i['dir_container'] |length and i['data'] |length and  i['fic_name_config'] |length %}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
  namespace: {{ i['namespace'] }}
data:
  {{ i['fic_name_config'] }}: |
    {{ i['data'] }}
{% endif %}
{% endfor %}
