# {{ item.client_info | lower }}
[Interface]
PrivateKey ={{ item.client_key_priv }}
Address ={{ item.adresse_ip }}
DNS = 10.43.0.10

[Peer]
PublicKey ={{ item.server_key_public }}
PresharedKey ={{ item.client_psk }}
AllowedIPs = 10.0.0.0/8
Endpoint = {{ item.master_ip }}:{{ item.port }}
