{% for i in server_priv %}

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: wg-configmap-{{ i['equipe'] | lower }}
  namespace: wireguard
data:
  wg0.conf: |

    [Interface]
    Address = 10.6.0.1/16
    ListenPort = 51820
    PostUp = wg set wg0 private-key /etc/wireguard/privatekey && iptables -t nat -A POSTROUTING -s 10.6.0.0/16 -o eth0 -j MASQUERADE
    PostDown = iptables -t nat -D POSTROUTING -s 10.6.0.0/16 -o eth0 -j MASQUERADE


   {% for o in copie_conf_client %}
   {% if o['server_key_priv']  ==  i['server_key_priv'] %}

    #Conf de {{ o['client_info'] }}
    [Peer]
    PublicKey = {{ o['client_key_public'] }}
    PresharedKey = {{ o['client_psk'] }}
    AllowedIPs = {{ o['adresse_ip'] }}

{% endif %}
{% endfor %}
{% endfor %}
