---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: wireguard
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        resources:
          limits:
            cpu: "0.50"
            memory: 300Mi
          requests:
            cpu: "0.20"
            memory: 200Mi
        ports:
{% for i in server_priv %}
        - name: {{ i['equipe'][:10] | lower }}
          containerPort: {{ i['port'] }}
          protocol: UDP
{% endfor %}
        volumeMounts:
        - name: cfgmap
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: cfgmap
        configMap:
          name: nginx2-configmap
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: nginx-hpa
  namespace: wireguard
spec:
  maxReplicas: 10
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: nginx
  targetCPUUtilizationPercentage: 50

---
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  namespace: wireguard
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
    app.kubernetes.io/component: controller
spec:
  ports:
{% for i in server_priv %}
    - name: {{ i['equipe'] | lower }}
      port:  {{ i['port'] }}
      targetPort: {{ i['port'] }}
      protocol: UDP
{% endfor %}
  selector:
    app: nginx
  type: LoadBalancer
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx2-configmap
  namespace: wireguard
data:
  nginx.conf: |
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log;
    pid /run/nginx.pid;
    include /usr/share/nginx/modules/*.conf;

    events {
        worker_connections 1024;
    }

    http {
        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';

        access_log  /var/log/nginx/access.log  main;

        server_tokens off;
        ssl_protocols TLSv1.3;
        ssl_prefer_server_ciphers off;
        ssl_stapling on;
        ssl_stapling_verify on;

        sendfile            on;
        tcp_nopush          on;
        tcp_nodelay         on;
        keepalive_timeout   65;
        types_hash_max_size 2048;
        
        include             /etc/nginx/mime.types;
        default_type        application/octet-stream;

        include /etc/nginx/conf.d/*.conf;

    }
    stream {
{% for i in server_priv %}
        server {
            listen {{ i['port'] }} udp;
            proxy_pass svc-wireguard-{{ i['equipe'] | lower }}.wireguard.svc.cluster.local:{{ i['port'] }};
        }
{% endfor %}
    }
