{% for i in server_priv %}
---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard-deployment-{{ i['equipe'] | lower }}
  namespace: wireguard
  labels:
    app: wireguard-{{ i['equipe'] | lower }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wireguard-{{ i['equipe'] | lower }}
  template:
    metadata:
      namespace: wireguard
      labels:
        app: wireguard-{{ i['equipe'] | lower }}
    spec:
      containers:
      - name: wireguard-{{ i['equipe'] | lower }}
        securityContext:
          privileged: true
        image: masipcat/wireguard-go:latest
        resources:
          limits:
            cpu: "0.50"
            memory: 300Mi
          requests:
            cpu: "0.20"
            memory: 200Mi
        command: ["/bin/bash"]
        args: ["-c","sysctl -w net.ipv4.ip_forward=1 && sysctl -w net.ipv4.conf.all.forwarding=1 && /entrypoint.sh"]
        ports:
        - containerPort: 51820
          protocol: UDP
        volumeMounts:
        - name: cfgmap
          mountPath: /etc/wireguard/wg0.conf
          subPath: wg0.conf
        - name: secret
          mountPath: /etc/wireguard/privatekey
          subPath: privatekey


      volumes:
      - name: cfgmap
        configMap:
          name: wg-configmap-{{ i['equipe'] | lower }}
      - name: secret
        secret:
          secretName: wg-secret-{{ i['equipe'] | lower }}
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: wireguard-hpa-{{ i['equipe'] | lower }}
  namespace: wireguard
spec:
  maxReplicas: 10
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: wireguard-deployment-{{ i['equipe'] | lower }}
  targetCPUUtilizationPercentage: 20

---
apiVersion: v1
kind: Service
metadata:
  name: svc-wireguard-{{ i['equipe'] | lower }}
  namespace: wireguard
spec:
  ports:
    - name: wireguard-{{ i['equipe'] | lower }}
      port: {{ i['port'] }}
      targetPort: 51820
      protocol: UDP
  selector:
    app: wireguard-{{ i['equipe'] | lower }}
{% endfor %}

