{% for i in server_priv %}

---
kind: Secret
apiVersion: v1
metadata:
  name: wg-secret-{{ i['equipe'] | lower }}
  namespace: wireguard
type: Opaque
data:
  privatekey: {{ i['server_key_priv'] | b64encode }}

{% endfor %}

