{% for i in challenge %}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-{{ i['equipe'] | lower }}-{{ i['name'] | lower }}-{{ i['type'] | lower }}
  namespace: {{ i['namespace'] | lower }}
spec:
  podSelector:
    matchLabels:
      app: challenge-{{ i['type'] | lower }}-{{ i['name'] | lower }}-{{ i['equipe'] | lower }}
  ingress:
    - from:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              app: wireguard-{{ i['equipe'] | lower }}
      ports:
        - port: {{ i['port_container'] }}
        - port: {{ i['port'] }}
{% endfor %}
