{% for i in applicable_policies %}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  {% if i['namespace'] is defined %}
  namespace: {{ i['namespace'] }}
  {% else %}
  namespace: {{ namespace_challenge }}
  {% endif %}
  name: deny-all-ingress
spec:
  podSelector: {}
  policyTypes:
  - Ingress
{% endfor %}
